/* default jazz */
:root {
    --border-color: #152431;
    --item-color: #152b3d;
    --bg-color: #0D161D;
}

body, html {
    margin: 0;
    background-color: var(--bg-color);
    font-family: 'Roboto', sans-serif;
}

/* default tags */
h1 {
    text-align: center;
    font-size: 100px;
    margin: 10px 0;
    color: var(--item-color);
    font-family: 'Staatliches', cursive;
}

h2 {
    margin: 10px 15px ; 
}

img {
    height: 200px;
    width: 200px;
    overflow: hidden;
    background-position: center center;
    object-fit: none; 
    object-position: center; 
}

hr {
    width: 80%;
    border-radius: 100px;
}

/* classes */
.item {
    width: 550px;
    margin: 5px 0px;
    overflow: hidden;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 200px 350px;
    text-align: center;
    background-color: var(--item-color);
    color: #f5f5f5;
}


/* id's */
#website {
    background-color: #ffffffad;
    width: 1200px;
    margin: 0 auto;
    border-radius: 14px;
    margin-bottom: 10px;
}

#content {
    display: grid;
    grid-template-columns: 600px 600px;
    margin: 0 25px ;
}

/* mobile */
@media only screen and (max-width: 600px) {
    /* default tags */
    h1 {
        text-align: center;
        font-size: 10vw;
        margin: 0 0 10px 0;
        color: var(--item-color);
        font-family: 'Staatliches', cursive;
    }
    
    img {
        height: 200px;
        width: 100%;
        overflow: hidden;
        background-position: center center;
        object-fit: none; /* Do not scale the image */
        object-position: center; /* Center the image within the element */
    }

    p {
        padding-bottom: 15px;
    }

    /* classes */
    .item {
        width: 100%;
        margin: 0 0 30px 0;
        overflow: hidden;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 100%;
        text-align: center;
        background-color: var(--item-color);
        color: #f5f5f5;
    }


    /* id's */
    #website {
        background-color: #ffffffad;
        width: 100%;
        margin: 0 auto;
        border-radius: 0;
        margin-bottom: 10px;
        align-content: center;
    }

    #content {
        display: grid;
        grid-template-columns: 100%;
        margin: 0 25px ;
    }

}