/* default jazz */
:root {
    --border-color: #152431;
    --item-color: #152b3d;
    --bg-color: #0D161D;
}

body, html {
    margin: 0;
    background-color: var(--bg-color);
    font-family: 'Roboto', sans-serif;
}

/* default tags */
h1 {
    text-align: center;
    font-size: 100px;
    margin: 10px 0;
    color: var(--item-color);
}

h2 {
    margin: 10px 15px ;
}

img {
    width: 200px;
}

/* classes */
.item {
    width: 550px;
    margin: 5px 0px;
    overflow: hidden;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 200px 350px;
    text-align: center;
    background-color: var(--item-color);
    color: whitesmoke;
}


/* id's */
#website {
    background-color: #ffffffad;
    width: 1200px;
    margin: 0 auto;
    border-radius: 14px;
    margin-bottom: 10px;
}

#content {
    display: grid;
    grid-template-columns: 600px 600px;
    margin: 0 25px ;
}
